@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;

    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5); */
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    margin: auto;
    text-align: center;
}

header, footer{
    text-align: center;
}

header {
    font-weight: 600;
    font-size: 28;
    padding: 2rem 0 3rem 0;
    color: white;
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 3rem 0 2rem 0;
    padding: 1rem 0;
    height: 83px;
    width: 20%;
    color: white;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 58px;
}

button {
    padding: 0.5rem 0;
    width: 20%;
    font-size: 16;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

/* footer */

footer {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #CCC1FF;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.length-container, .volume-container, .mass-container {
    padding: 1rem 0;
    margin: 1rem 0;
    width: 90%;
    background-color: #273549;
}

.result {
    font-weight: 100;
    font-size: 0.8rem;
    padding-top: 1rem;
    color: white;
}